<div class="content" ng-click="$ctrl.clearAllSelections()">
    <div class="grid-container" ng-if="$ctrl.connected">
        <div class="grid-item">
            <div class="title">Today's happiness</div>
            <div id="chart-container2" class="picasso-chart"></div>
        </div>
        <div class="grid-item">
            <div class="title">Today's distribution</div>
            <div id="daily-container-today" class="picasso-chart"></div>
        </div>
        <div class="grid-item">
            <div class="title">All time happiness result</div>
            <div id="chart-container" class="picasso-chart"></div>
        </div>
        <div class="grid-item">
            <div class="title">All time distribution</div>
            <div id="daily-container" class="picasso-chart"></div>
        </div>
        <div class="grid-item" id="emojis">
            <table width="100%">
                <tr>
                    <td><img src="resources/happyIcon.png" width="100px"></td>
                    <td><img src="resources/contentIcon.png" width="100px"></td>
                    <td><img src="resources/sadIcon.png" width="100px"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="menu" ng-if="$ctrl.admin">
        <button type="button" ng-click="$ctrl.reloadData()">Reload App</button><br>
        <button type="button" ng-click="$ctrl.createNewApp()">Create App</button><br>
        <button type="button" ng-click="$ctrl.reloadEveryXSewc()">Start reloads</button><br>
    </div>


<div class="error" ng-if="!$ctrl.connected && !$ctrl.connecting">
    <div class="error-wrapper">
        <span class="lui-icon--warning"></span>
        <span class="error-title">Oops! Something went wrong.</span>
        <span>{{$ctrl.error ? $ctrl.error : "Unexpected error"}}</span>
    </div>
</div>