@font-face {
	font-family: quicksand-light;
	src: url(resources/Quicksand-Light.otf);
}

@font-face {
	font-family: quicksand-regular;
	src: url(resources/Quicksand-Regular.otf);
}

@font-face {
	font-family: lui-icons;
	src: url(resources/LUI-icons.woff);
}

html, body {
	margin: 0;
	height: 100%;
}

body {
	background-image: URL(resources/happy.jpg);
	height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	font-family: quicksand-regular;
	font-size: 14px;
	color: #fff;
	user-select: none;
	overflow: hidden;
}

app {
	width: 100%;
	height: 100%;
}



.title {
	font-size: 22px;
	padding-bottom: 10px;
}

#chart-container {
	height: 340px;
	margin-top: 40px;
	position: relative;
}
#chart-container2 {
	min-height: 340px;
	margin-top: 40px;
	position: relative;
}
#daily-container {
	min-height: 340px;
	margin-top: 40px;
	position: relative;
}

#daily-container-today {
	min-height: 340px;
	margin-top: 40px;
	position: relative;
}

#emojis {
	grid-column: 1 / 3;
	margin: auto;
	justify-content: center;
	align-items: center;
}

.lui-icon--top {
	background: rgba(0, 0, 0, 0.11);
	border: 1px solid rgba(0, 0, 0, 0.11);
	border-radius: 4px;
	padding: 6px 9px 7px 9px;
	cursor: pointer;
	display: inline-block;
}

.info-wrapper {
	margin: 15px 0;
	display: flex;
}

.error {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(115, 115, 115, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
}

.error-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.lui-icon--warning:before {
	font-family: lui-icons;
	font-size: 56px;
	content: "\E8";
}

.error-title {
	font-size: 25px;
	padding-top: 10px;
	padding-bottom: 15px;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto ;
	grid-gap: 20px;
	margin: auto;
	color: #000;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	min-width: 50%;
	max-width: 80%;
	height: 100%;
	padding-bottom: 20px;
}
.grid-item {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background-color: rgba(255, 255, 255, 0.6);
	padding: 20px;
	font-size: 30px;
	min-width: 50%;
	border-radius: 11px;
	box-sizing: border-box;
	text-align: center;
}
.menu {
	position: absolute;
	bottom: 0;
	justify-content: center;
	align-items: center;
  }

@media screen and (max-width: 1200px) {
	.header {
		padding: 15px 25px;
	}

	.footer {
		padding: 10px 25px;
	}
}



